.contains{
display: flex;
width: 50%;
margin:auto;
flex-wrap: wrap;
gap: 20px;
}
img{
    width: 100%;
    height: 200px;
}
.centré{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body{
    position: relative;
}
.valide{
    display:flex;
    gap: 40%;
    align-items: center;
    justify-content: center;
}
.voir_marg{
    margin-top:10px;
}
.card_modal_droit_2{
    margin-bottom: 40px;
}
.dflex{
    display: flex;
    gap: 20%;
}